page-forget {
	.header::after {
		height: 0px;
	}
	.header {
		.toolbar-background {
			border-style: none;
		}

		.back-button.show-back-button {
			color: #fff;
		}
	}
	.content {
		background-color: $loginContentColor;
	}
	.page-network-item {
		padding-bottom: 1em;
	}

	ion-input {
	    .text-input {
	      color:#fff;
	    }
	}

	.base-forget-btn {
		padding: 0.5rem;
    	border-radius: 2px;
	}

	zk-nav-bar {
	    .custom-toolbar {
	        background-color: $loginContentColor;
	        .custom-toolbar-button-end {
	            button {
	                zk-icon {
	                    color: #fff;
	                }

	                color: #fff;
	            }
	        }

	         .custom-toolbar-title {
	                color: #fff;
	         	
	         }

	        .custom-toolbar-button-start {
	            button {
	                zk-icon {
	                    color: #fff;
	                }

	                color: #fff;
	            }
	        }
	    }
     }

     .list { 
	

		.item {
			background-color: $loginContentColor;
			color:#fff;
			padding-left: 0px;
		}
		.item-block {
			.item-inner{
				box-shadow:none;
				-webkit-box-shadow:none;
				border-bottom: 0.55px solid #c8c7cc;
				zk-icon{
					color:#5a616d;
				}
				.barcode-scan-icon {
					z-index: 100;
					font-size: 2rem;
					padding: 0.8rem 0 0 3rem;
				}
				.input-wrapper {
					.label {
						color:#fff;
						zk-icon {
							font-size: 2.4rem;
							padding-left: 1rem;
							color: #000;
						}
					}
					input::-webkit-input-placeholder {
					  /* WebKit browsers */
					  color: #5a616d;
					}
					input:-moz-placeholder {
					  /* Mozilla Firefox 4 to 18 */
					  color: #5a616d;
					}
					input::-moz-placeholder {
					  /* Mozilla Firefox 19+ */
					  color: #5a616d;
					}
					input::-ms-input-placeholder {
					  /* Internet Explorer 10+ */
					  color: #5a616d;
					}
				}
			}
		}
	}
}