page-attInoutReport {
/**当前员工in/out报表**/

.content {
    background:#fff;
}

    .full {
        width: 100%;
        height:100%;
        position: relative;
    }

    .flex-v {
        display: flex;
        flex-direction: column;
    }

    .att-chart-title {
        padding-left: 2rem;
        font-weight: bold;
    }

    .att-chart-box1 {
        // width: 90%;
        height:55%;
        // margin: 0 auto;
    }

    .flex-auto {
        flex:1;
    }

    .flex-h {
        display: flex;
    }
}
