page-attWaitDetail {
/**待办详情**/

    .att-wait-text {
        width:100%;
        border: 0.1rem solid #b9b3b3;
    }

    .content {
        background: #fff;
    }

    .att-wait-label {
        position: relative;
        display: block;
        margin-bottom: 1rem;
    }
}
