page-baseCompany {
/**我的企业**/
    .base-comp-item {
        h2 {
            font-weight: bold;
            color: #469be6;
        }

        h3 {
            padding-top: 0.5rem;
            /* color: #469be6; */
        }
    }

    .content {
        background:#fff;
    }
}
